<div class="wrapper fadeInDown ">
  <div id="formContent" class="bg-dark text-light">
    <!-- Tabs Titles -->

    <div class="myContainer">

        <div class="fadeIn first ">
            <h1 class ="fs-4">Khethelo</h1>
            <p>Khethelo is the team captain </p>
        </div>
        <div class ="fadeIn second">
            
            <h1 class ="fs-4">Nhlanhla</h1>
            <p>Nhlanhla is the brain of the front-end interface, from stying to designing he is your guy</p>
        </div>
        <div class ="fadeIn third">
            <h1 class ="fs-4">Lindy</h1>
            <p>Lindy is the most presentable candidate in the group with people's skills </p>
        </div>
        <div class ="fadeIn fourth">
            <h1 class ="fs-4">Neo</h1>
            <p>Neo is a proud dedicated individual who won't stop at nothing until the task is completed</p>
        </div>
        <div class ="fadeIn fifth ">
            <h1 class ="fs-4">Unite</h1>
            <p>Unite is the quiet member 🤣 in the group yet she accepts any challenge given to her </p>
        </div>
    </div>
    
    </div>

</div>

